<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>An ejs application</h1>
	<div id="app">
		Loading
	</div>
	<script src="bundle.js" charset="UTF-8"></script>
</body>
</html>